<div class="backimage-area">
    <div class="article-title">
        <h1 class="article-title-item"></h1>
    </div>
    <div class="header-parent">
        <div class="header-child">
            <h1 class="header-title"><a class="header-title-link" href="https://moegeeks.com/">MoeGeeks</a>
            </h1>
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item"><a class="header-nav-item-link" href="">Item1</a></li>
                    <li class="header-nav-item"><a class="header-nav-item-link" href="">Item2</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>